.splide {

  &.overflow .splide__track {
    overflow: visible;
  }

  .splide__pagination__page {
    background: #ccc;

    &.is-active {
      background: $primary;
      opacity: 1;
    }
  }

  .splide__arrow {
    background: $primary;

    svg {
      fill: $white;
    }

    &:disabled {
      opacity: 0.1;
      cursor: default;
    }
  }

}

#gallery-thumbnail-slider {
  .splide__slide {
    opacity: 0.3;
  }

  .splide__slide.is-active {
    opacity: 1;
  }

  &.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
  &.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
    border-color: $primary;
  }
}