.wpcf7 form.wpcf7-form {
  .wpcf7-spinner {
    display: none;
  }

  &.submitting {
    input[type=submit] {
      opacity: 80%;
      pointer-events: none;
    }
  }

  .wpcf7-not-valid-tip {
    font-size: 0.8rem;
    color: $danger;
  }

  .wpcf7-not-valid {
    border-color: $form-feedback-invalid-color;

    &:focus {
      border-color: $form-feedback-invalid-color;
    }
  }

  .wpcf7-form.invalid .wpcf7-response-output {
    display: none;
  }

  .wpcf7-form.sent .wpcf7-response-output {
    display: none;
  }

  .wpcf7-response-output {
    margin: 1rem 0 0 0;
    padding: 0;
    background-color: transparent;
    color: $danger;
    border: none;
  }

  &.sent .wpcf7-response-output {
    color: $success;
  }

}