$fa-font-path: "../../../assets/vendor/fa/webfonts";
$claim-bg-image: url('../img/claim.png');
$colorbox-path: "../../../assets/img/colorbox/";

@import "../../assets/shoptet/variables-bootstrap";
@import "../../assets/vendor/bs/scss/functions";
@import "../../assets/vendor/bs/scss/variables";
@import "../../assets/vendor/bs/scss/mixins/clearfix";
@import "../../assets/shoptet/variables-shoptet";
@import "../../assets/vendor/bs/scss/mixins";

@import "modules/variables";
@import "modules/job";

.anchor {
    position: relative;
    top: -80px;
    display: block;
}

/* SECTIONS */
.section-tertiary {
    background-color: #f2f6de;
}


.flex-row-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    > * {
        margin: .5rem;
        iframe {
            max-width: 100%;
        }
    }

    @media (max-width: map-get($grid-breakpoints, 'lg')) {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.available-position {
    border-bottom: 1px solid $border-color;
    padding: $spacer 0;

    &:last-child {
        border-bottom: 0;
        padding: $spacer 0 0;
    }

    @include clearfix;
}

.entry-more {
    float: right;
}
